* {
    box-sizing: border-box;
}
*,
*::before
*::after {
    box-sizing: inherit;
}

/*Font reminder
/* font-family: 'Montserrat', sans-serif;
font-family: 'Permanent Marker', cursive; 
font-family: 'Kaisei HarunoUmi', serif; - word*/


header {
    display: flex; 
    /* justify-content: center; */
    font-family: 'Permanent Marker', cursive;
    padding: 5px 18px;
}

h1 {
    font-size: 50px;
}
audio {
    width: 220px;
    height: 20px;
}

input[type="text" i] {
    padding: 5px 10px;
    margin-top: 32.5px;
    border: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 48px;
    outline: none;
    color: red;
}



#s-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    outline: none;
    background-color: white;    
    /* align-self: flex-end; */
}



